F2B_CLIENT_ID=YOUR_CLIENT_ID
F2B_CLIENT_SECRET=YOUR_CLIENT_SECRET
F2B_BSKY_HANDLE=YOUR_BLUESKY_HANDLE
F2B_BSKY_PASSWORD=YOUR_BLUESKY_PASSWORD
F2B_SHEET_ID=YOUR_GOOGLESPREADSHEET_ID
F2B_SHEET_NAME=YOUR_SHEET_NAME